Gbot/*.session
Gbot/*.session-journal
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Gbot/modules/helper_funcs/temp.txt
Gbot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
cutiepii.session-journal
updates.txt
*.exe